# Voeg hier je MongoDB Atlas connectiestring toe
# Voorbeeld:
# MONGO_URI=mongodb+srv://<gebruikersnaam>:<wachtwoord>@cluster0.mongodb.net/ijs-api?retryWrites=true&w=majority

MONGO_URI=
PORT=3000

# Inloggegevens voor het admin-dashboard (hardcoded check, geen registratie)
ADMIN_USERNAME=
ADMIN_PASSWORD=

# Geheime sleutel om JWT-tokens mee te ondertekenen (willekeurige lange string)
JWT_SECRET=
